
<div class="container" style="margin-top: 65px">
	<section>
		<h1>Cervejarias</h1>
		<br>
		
<div>
<button ui-sref="cervejaria" class="btn btn-default">Novo</button>
</div>
		<table ng-table="tabela"
			class="table table-bordered table-striped table-condensed clickrow">
			<tr ng-repeat="row in $data track by row.id">
				<td data-title="'Cervejaria'" filter="{cervejaria: 'text'}"
					sortable="'orderCervejaria'"
					 ng-click="openCervejaria(row)">{{row.name}}</td>
				<td data-title="'Status'" filter="{status: 'select'}" filter-data="listaStatus" 
					ng-click="openCervejaria(row)">{{row.status}}</td>
			</tr>
		</table>
	</section>
</div>