<nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li class="current"><a href="#body">Inicio</a></li>
                        <li><a href="#features">Cadastro</a></li>
                        <li><a href="#cervejas">Cervejas</a></li>
                       	<li><a href="#team">Time</a></li>
                       	<li><a href="#login">Login</a></li>
                    </ul>
                </nav>
                <div ui-view="content2"></div>